# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
GEMINI.md
.gemini

# Ambientes virtuais (muito importante ignorar também!)
venv/
env/
.venv/
Arquivos Internos/

# Distribuição / Pacotes
build/
dist/
*.egg-info/